body {
    font-family: 'Times New Roman', Times, serif;
    /* background: url('./polkadots.png'); */
}

.instructions h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 10px white;
    margin-left: 378px;
}

.instructions {
    background: rgb(252, 217, 23);
    background-image: url('./rosie.png');
    border-bottom: 12px solid #303030;
    width: 100%;
    height: 50;
    padding: 12px;
    border-radius: 2px;
    background-repeat: no-repeat;
}

#login {
    font-size: 18px;
    margin-bottom: 10px;
}

form {
    background-color: rgb(241, 215, 129);
    border: 8px solid #303030;
    width: 175px;
    height: 175px;
    float: right;
    margin-top: -30px;
    padding: 15px;
    border-radius: 2px;
    margin-right: 150px;
}

input {
    margin: 15px;
    margin-bottom: -30px;
    height: 20px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #303030;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

#welcome {
    font-size: 24px;
    margin-left: 20px;
}

#logout {
    height: 30px;
    width: 100px;
    border: 3px solid #000000;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#logout:hover {
    height: 30px;
    width: 100px;
    border: 3px solid #000000;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 4px #000000;
}

#inHistory {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/BillieHoliday.png');
    background-size: 200px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#inHistory:hover {
    text-shadow: 2px 2px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);

}

#politics {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/congress.png');
    background-size: 200px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#politics:hover {
    text-shadow: 2px 2px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#inHerstory {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/ElizabethWarren.png');
    background-size: 200px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#inHerstory:hover {
    text-shadow: 2px 2px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#ourStory {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/bwRosie.png');
    background-size: 375px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#ourStory:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#tech {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/Tech.jpg');
    background-size: 250px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#tech:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#education {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/education.JPG');
    background-size: 250px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#education:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#health {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/food.png');
    background-size: 250px 200px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#health:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#science {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/RachelCarson.png');
    background-size: 250px 200px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#science:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#art {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/JennierMally.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#art:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#pride {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/ChelseaManning.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#pride:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#wage {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/money.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#wage:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#endingViolence {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/EndingViolence.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#endingViolence:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}






/* --------------------------- Convo Styles -------------------------------- */

#addSubtopic {
    width: 800px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid #000000; */
    border-radius: 3px;
}


#addSubtopicButton {
    width: 150px;
    margin-left: 20px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid #000000; */
    border-radius: 3px;
}

#listConvos {
    width: 500px;
    margin: 15px;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid #000000; */
    border-radius: 3px;
}


#educationConvo {

    width: 500px;
    margin: 20px;
    background:  url('/images/books.png');
    background-size: 500px 250px;
    background-position: 50px 100px;
    font-size: 21px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #000000;
}

#educationConvo:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}