body {
    font-family: 'Times New Roman', Times, serif;
    background: url('./OtherDots.png');
    background-repeat: repeat;
    background-size: cover;
}

#react-root{
    max-width: 80%;
    margin: auto; 
}

.gallery-item {
    margin-left: 30%; 
    margin-bottom: 20px;
}

#photosGallery {
    width: 250px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 8px solid #000000;
  }

#photosGallery:hover {
    box-shadow: 2px 2px 6px #000000;
}
  
  #infoGallery {
    background: black;
    color: white;
    width: 300px;
    margin: 20%;
    padding: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
  }
  
  /* TO DO for Gallery */
  /* #favoriteButton {
    width: 40px;
    height: 10px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
  }

  #favoriteButton:hover {
    box-shadow: 2px 2px 6px #000000;
} */

.instructions h1 {
    max-width: 80%;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 10px white;
    margin-left: 70%;
}

.instructions {
    background: rgb(252, 217, 23);
    background-image: url('./rosie.png');
    border: 5px solid #303030;
    width: 80% center;
    height: 75px;
    padding: 12px;
    background-repeat: no-repeat;
}

#login {
    font-size: 18px;
    margin-bottom: 10px;
}

#textLoginPage {
    max-width: 500px;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: justify;
    margin-left: 5%;
    font-weight: bold;
    margin-bottom: 45px;
    line-height: 30px;
}

form {
    background-color: rgb(241, 71, 19);
    border: 8px solid #303030;
    width: 175px;
    float: right;
    margin-top: -30px;
    padding: 15px;
    border-radius: 15px;
    margin-right: 150px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

input {
    margin: 15px;
    height: 20px;
    border: 1px solid #303030;
    border-radius: 2px;
    letter-spacing: 2px;
    font-size: 13px;

    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

input[type="submit"] {
    margin-left: -3px;
    width: 65px;
    border: 1px solid #303030;
    border-radius: 3px;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #303030;
  border-radius: 0px;
  width: 80% center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#neverStandAlone {
    display: block;
    margin-left: 76%;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: -36px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: #eee;
}

#rosie {
    max-width: 80%;
    margin: auto; 
    height: 400px;
    width: 400px;
    background:  url('/images/bwRosie.png');
    background-size: 750px 400px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}


#textOurStory {
    max-width: 600px;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: justify;
    margin-left: 23%;
    /* text-align-last: center; */
    font-weight: bold;
    margin-bottom: 45px;
    line-height: 30px;
}

#welcome {
    font-size: 18px;
    text-align: left;
}

#logout {
    height: 30px;
    width: 100px;
    border: 3px solid #000000;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 90%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 248, 242)
}

#logout:hover {
    height: 30px;
    width: 100px;
    border: 3px solid #000000;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 90%;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 4px #000000;
}

/* ------------------------ Home Page ------------------------ */

#topicButtonsPage {
    max-width: 80%;
    margin: auto; 
}

#inHistory {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/BillieHoliday.png');
    background-size: 200px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#inHistory:hover {
    text-shadow: 2px 2px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);

}

#politics {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/congress.png');
    background-size: 200px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#politics:hover {
    text-shadow: 2px 2px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#inHerstory {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/ElizabethWarren.png');
    background-size: 200px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#inHerstory:hover {
    text-shadow: 2px 2px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#ourStory {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/bwRosie.png');
    background-size: 375px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#ourStory:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#tech {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/Tech.jpg');
    background-size: 250px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#tech:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#education {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/education.JPG');
    background-size: 250px 200px;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#education:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#health {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/food.png');
    background-size: 250px 200px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#health:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#science {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/RachelCarson.png');
    background-size: 250px 200px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#science:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#art {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/JennierMally.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#art:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#pride {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/ChelseaManning.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#pride:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#wage {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/money.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#wage:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

#endingViolence {
    height: 200px;
    width: 200px;
    margin: 20px;
    background:  url('/images/EndingViolence.png');
    background-size: 210px 210px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #000000;
}

#endingViolence:hover {
    text-shadow: 3px 3px 6px #000000;
    box-shadow: 2px 2px 6px #000000;
    color: rgb(247, 235, 69);
}

/* --------------------- Add Subtopics --------------------------------- */

#shareTopicsButtons {
    max-width: 45%;
    margin: auto;
}

#inputFieldsCommentAndResource {
    max-width: 50%;
    margin: auto;
}

#convoTopic {
    background: #f2f2f2;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
    border: 1px solid #000000;
    max-width: 500px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-weight: bold;
}

#deleteButton {
    margin-bottom: 10px;
    margin-right: 10px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 3px;
}

#editButton {
    margin-bottom: 10px;
    margin-right: 10px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 3px;
}

#shareTopic {
    font-size: 18px;
    margin-bottom: -20px;
}

#shareLink {
    font-size: 18px;
    margin-bottom: -20px;
}

/* --------------------------- Convo Styles -------------------------------- */

#listConvos {
    width: 500px;
    margin: 15px;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 3px;
}

#addSubtopic {
    width: 600px;
    height: 25px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -5px;
    padding: 10px;

}

#addSubtopicButton {
    width: 150px;
    margin-left: 20px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 3px;
    background: rgb(243, 235, 208);
}


/* ---------------- Add Resource and Resource Table ------------------ */

#addResource {
    width: 600px;
    height: 25px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -5px;
    padding: 10px;

}

#addResourceButton {
    width: 150px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 3px;
    background: rgb(243, 235, 208);
}

#tableResources {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background: rgb(243, 235, 208);
    width: 90% center;
    padding: 20px;
    max-width: 80%;
    margin: auto;
}